.App {
  text-align: center;
  font-family: 'Fira Mono', sans-serif !important;
  overflow: hidden;
}

.card {
  width: 320px;
  height: 590px; 
  padding: 5px;
  margin: 20px;
  float: left;
  box-shadow: 3px 3px 3px 3px rgb(206, 204, 204);
  position: relative;
  bottom: 30px;
  text-align: center;
  display: inline;
}
.boot{
  margin-bottom: 30px;
  left: 1.2%;
  position: relative;
  top: 8px;
  bottom: 1%;
}
.topHeader {
  margin-top: 100px;
}


.personal{
  text-align: center;
}

.jumbotron{
  margin-top: 20%;
}
.pesBut{
  width: 50%;
  margin-left: 10%;
}


.buttonCard {
  width: 95px;
  margin: 5px !important
  
}
.botCon{
  position: absolute;
  bottom: 8px;
  left: 19%;
  right: 20%;
}

.priceCon{
  left: 20%;
  right: 20%;
  background-color: black ;
  color: whitesmoke;
  font-weight: bold;
}