.card {
  width: 320px;
  height: 590px; 
  padding: 5px;
  margin: 20px;
  float: left;
  box-shadow: 3px 3px 3px 3px rgb(206, 204, 204);
  position: relative;
  bottom: 30px;
  text-align: center;
  display: inline;
}
.boot{
  margin-bottom: 30px;
  left: 2.5%;
  position: relative;
  top: 10px;
  bottom: 1%;
}

.center{
text-align: center;

}
